<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Projet Semaine 3- Biroche</title>
    <script type="text/javascript" src="js/script.js"></script>
    <!-- <link type="text/css" rel="stylesheet" href="/css/styles.css" /> -->
</head>

<body>