<nav>
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/inscription" class="active">Inscription</a></li>
        <li><a href="/connexion" class="active">Connexion</a></li>
        <li><a href="/logout" class="active">Logout</a></li>
    </ul>
</nav>