<ul class="nav bg-warning">
    <li class="nav-item">
        <a class="nav-link" href="/inscription" class="active">Inscription</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/connexion" class="active">connexion</a>
        </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout" class="active">logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/yams" class="active">yams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/statistics" class="active">statistics</a>
    </li>
    
</ul>


