<%- include('../partials/header.ejs') -%>
    <h1>Tentez votre chance ! </h1>
    <%- include('../partials/menu.ejs') -%>
    <p>Tentez de ganger une patisserie en cliquant sur le bouton ! </p>
        <p>
            <a  href="/yams?play=true" id="gameButton" class="gameButton"  >Lancer les dés</button>
        </p>
        <% if(diceTab){ %>
            <h2>Votre score :</h2>
            <ul>
            <%
            diceTab.forEach((element) => { %> <li> <%= element %> </li> <% }
             ) 
             %>
            </ul>
            <%

        } %>
        <%- include('../partials/footer.ejs') -%>