<%- include('../partials/header.ejs') -%>
    <%- include('../partials/menu.ejs') -%>
        <p p class="mt-3 fs-1">Inscrivez-vous</p>
        <form action="/inscription" method="post" class="formAuth mt-2">

            <p>
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" name="firstname" value="" />
            </p>

            <p>
                <label for="lastname">Lastname</label>
                <input type="text" id="lastname" name="lastname" value="" />
            </p>



            <p>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="" />
            </p>

            <p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="" />
            </p>

            <p>
                <label for="passwordBis">Password Confirmation</label>
                <input type="password" id="passwordBis" name="passwordBis" value="" />
            </p>

            <button type="submit" class="btn btn-secondary btn-lg mt-3 submitButton" value="Inscription">Inscription</button>
            
        </form>
        <%- include('../partials/footer.ejs') -%>